/*
        My Variables
        */
:root {
  --hue: 348;
  --sat: 70%;
  --light: 40%;
  --lighter: calc(10% + var(--light));
  --lighterer: calc(10% + var(--lighter));
  --lighterest: calc(10% + var(--lighterer));
  --color: hsl(var(--hue), var(--sat), var(--light));
  --color-light: hsl(var(--hue), var(--sat), var(--lighter));
  --color-lighter: hsl(var(--hue), var(--sat), var(--lighterer));
  --color-lightest: hsl(var(--hue), var(--sat), var(--lighterest));
}

/*
        My Mixins
        */
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  min-height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Segoe UI';
  font-size: 1.15em;
  color: #222;
  --sideBar-width: 300px;
  overflow: hidden;
}

@media screen and (max-width: 790px) {
  body {
    --sideBar-width: 0px;
    font-size: 1em;
  }
}

@media screen and (max-width: 570px) {
  body {
    font-size: .98em;
  }
}

body.sideBar-close {
  --sideBar-width: 0px;
}

@media screen and (max-width: 790px) {
  body.sideBar-close {
    --sideBar-width: 300px;
  }
}

@media screen and (max-width: 570px) {
  body.sideBar-close #sideBar ~ #main {
    display: none;
    visibility: hidden;
  }
}

body.sideBar-close #sideBar div {
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
}

@media screen and (max-width: 790px) {
  body.sideBar-close #sideBar div {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    display: initial;
  }
}

/*
        SideBar Stuff
        */
#sideBar {
  height: 100%;
  width: 35%;
  max-width: var(--sideBar-width);
  background-color: var(--color);
  -webkit-transition: 400ms ease-out;
  transition: 400ms ease-out;
  border-right: solid 1px rgba(39, 39, 39, 0.096);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

@media screen and (max-width: 790px) {
  #sideBar {
    width: 50%;
  }
}

@media screen and (max-width: 570px) {
  #sideBar {
    width: 90%;
    z-index: 1;
  }
}

@media screen and (max-height: 560px) {
  #sideBar {
    padding: 10px 0;
  }
}

#sideBar div.sideBar-child {
  width: 90%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 400ms ease-out;
  transition: 400ms ease-out;
  padding: 0 20px;
}

@media screen and (max-width: 790px) {
  #sideBar div.sideBar-child {
    -webkit-transform: translateX(-50vw);
            transform: translateX(-50vw);
    display: none;
  }
}

#sideBar div.sideBar-child h3 {
  font-weight: normal;
  font-size: 1.1em;
  white-space: nowrap;
  margin: 10px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#sideBar ul#recentSearch {
  list-style-type: circle;
  margin: 0;
  padding: 0 25px;
  height: 5em;
  font-size: 0.8em;
}

#sideBar ul#recentSearch li {
  margin: 5px 5px;
}

#sideBar div#themeBox {
  display: -ms-grid;
  display: grid;
  height: 100px;
  width: 90%;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 15px;
}

@media screen and (max-height: 560px) {
  #sideBar div#themeBox {
    gap: 5px;
  }
}

#sideBar div#themeBox label {
  display: block;
  padding: 3px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 150ms ease-out;
  transition: 150ms ease-out;
  border: solid 2px transparent;
}

#sideBar div#themeBox label:hover {
  border: solid 2px rgba(255, 255, 255, 0.425);
}

#sideBar div#themeBox label input {
  display: none;
}

#sideBar div#themeBox label span {
  visibility: hidden;
}

#sideBar div#themeBox label span {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  background-color: var(--color-lighter);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: solid 1px rgba(39, 39, 39, 0.096);
  display: -ms-grid;
  display: grid;
  place-content: center;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #28aa28;
}

#sideBar div#themeBox label span img {
  height: 10px;
  margin: auto;
}

#sideBar div#themeBox label.active {
  border: solid 2px rgba(255, 255, 255, 0.767);
}

#sideBar div#themeBox label.active span {
  visibility: visible;
}

#sideBar div#themeBox #red {
  background-color: #ad1f3b;
}

#sideBar div#themeBox #orange {
  background-color: #bf6318;
}

#sideBar div#themeBox #cyan {
  background-color: #178247;
}

#sideBar div#themeBox #purple {
  background-color: #6c136c;
}

#sideBar div#themeBox #blue {
  background-color: #1f74ad;
}

#sideBar div#themeBox #dark {
  background-color: #212121;
}

#sideBar div#rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

#sideBar div#rating div#ratingBox {
  font-size: .8em;
}

#sideBar div#rating div#ratingBox div#starsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 15px;
}

#sideBar div#rating div#ratingBox div#starsBox button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  background-color: var(--color-lighter);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: solid 1px rgba(39, 39, 39, 0.096);
  display: -ms-grid;
  display: grid;
  place-content: center;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.055);
}

#sideBar div#rating div#ratingBox div#starsBox button:hover {
  border-color: rgba(255, 255, 255, 0.966);
}

#sideBar div#rating div#ratingBox div#starsBox button svg {
  display: block;
  height: 20px;
  width: 20px;
  fill: none;
  stroke-width: 3px;
  stroke: white;
  margin: auto;
  padding: 0;
}

#sideBar div#rating div#ratingBox div#starsBox button.checked svg {
  fill: rgba(255, 255, 255, 0.932);
  stroke: none;
}

#sideBar div#rating div#ratingBox form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sideBar div#rating div#ratingBox form input {
  all: unset;
  width: calc(100% - 45px);
  font-size: inherit;
  display: block;
  border: none;
  color: inherit;
  background-color: transparent;
  border-bottom: solid 1px rgba(39, 39, 39, 0.096);
  border-color: rgba(255, 255, 255, 0.596);
  -webkit-transition: 400ms ease-in;
  transition: 400ms ease-in;
}

#sideBar div#rating div#ratingBox form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.596);
}

#sideBar div#rating div#ratingBox form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.596);
}

#sideBar div#rating div#ratingBox form input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.596);
}

#sideBar div#rating div#ratingBox form input::placeholder {
  color: rgba(255, 255, 255, 0.596);
}

#sideBar div#rating div#ratingBox form input + button {
  margin-left: -20px;
}

#sideBar div#rating div#ratingBox form input:focus {
  border-color: rgba(255, 255, 255, 0.966);
  margin-right: 10px;
}

#sideBar div#rating div#ratingBox form input:focus + button {
  margin-left: 0px;
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
  background-color: white;
  border-color: transparent;
}

#sideBar div#rating div#ratingBox form input:focus + button img {
  -webkit-filter: invert(0%) opacity(80%);
          filter: invert(0%) opacity(80%);
}

#sideBar div#rating div#ratingBox form button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  background-color: var(--color-lighter);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: solid 1px rgba(39, 39, 39, 0.096);
  display: -ms-grid;
  display: grid;
  place-content: center;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-color: white;
  background-color: var(--color);
  -webkit-transition: 400ms ease-in;
  transition: 400ms ease-in;
}

#sideBar div#rating div#ratingBox form button img {
  width: 15px;
  margin: auto;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

#sideBar div#rating div#ratingBox form button:hover {
  background-color: var(--color-lighter) !important;
}

#sideBar div#rating div#ratingBox form button:hover img {
  -webkit-filter: invert(100%) !important;
          filter: invert(100%) !important;
}

#sideBar div#aboutSection label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#sideBar div#aboutSection label button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  background-color: var(--color-lighter);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: solid 1px rgba(39, 39, 39, 0.096);
  display: -ms-grid;
  display: grid;
  place-content: center;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-color: white;
  background-color: var(--color);
}

#sideBar div#aboutSection label button:hover {
  background-color: var(--color-lighter);
  border-color: transparent;
}

#sideBar div#aboutSection label button img {
  margin: auto;
  width: 15px;
}

#sideBar div#aboutSection label button.active {
  background-color: white;
}

#sideBar div#aboutSection label button.active img {
  -webkit-filter: invert(100%) opacity(80%);
          filter: invert(100%) opacity(80%);
}

span.bodyCover {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #222;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 6;
  -webkit-filter: opacity(60%);
          filter: opacity(60%);
}

article#aboutTexito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  width: 40vw;
  min-width: 400px;
  top: 25vh;
  left: 40vw;
  z-index: 7;
  background-color: green;
  background-color: rgba(255, 255, 255, 0.945);
  border: solid 1px rgba(39, 39, 39, 0.096);
  border-radius: 30px;
  color: #222;
  -webkit-transform: translateX(-50%) rotate(-100grad);
          transform: translateX(-50%) rotate(-100grad);
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transition: -webkit-transform 500ms ease-out;
  transition: -webkit-transform 500ms ease-out;
  transition: transform 500ms ease-out;
  transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
}

@media screen and (max-width: 790px) {
  article#aboutTexito {
    min-width: 200px;
    top: 15vh;
    width: 70vw;
    left: 15vw;
    font-size: inherit;
  }
}

@media screen and (max-width: 570px) {
  article#aboutTexito {
    width: 90vw;
    left: 5vw;
  }
}

article#aboutTexito h3 {
  color: white;
  background-color: var(--color-lighter);
  font-size: 1.25em;
  margin: 0px;
  padding: 20px 70px 15px 70px;
  width: 100%;
  border: solid 1px rgba(39, 39, 39, 0.096);
}

article#aboutTexito p {
  padding: 0 40px;
  margin: 0;
  margin-top: 20px;
}

article#aboutTexito p a {
  color: inherit;
  text-decoration: none;
  height: 2px;
  border-bottom: solid 4px var(--color-lightest);
  margin-bottom: -5px;
}

article#aboutTexito button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  background-color: var(--color-lighter);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: solid 1px rgba(39, 39, 39, 0.096);
  display: -ms-grid;
  display: grid;
  place-content: center;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  margin-top: 20px;
  margin-bottom: 40px;
}

article#aboutTexito button img {
  margin: auto;
  width: 15px;
  -webkit-filter: opacity(80%);
          filter: opacity(80%);
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
}

article#aboutTexito button:hover {
  background-color: var(--color-light);
}

article#aboutTexito button:hover img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

article#aboutTexito.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  -webkit-transform: translateX(0vw) rotate(0grad);
          transform: translateX(0vw) rotate(0grad);
}

#sideBar-control.active {
  right: -40px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

@media screen and (max-width: 790px) {
  #sideBar-control.active {
    right: -30px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@media screen and (max-width: 570px) {
  #sideBar-control.active {
    right: -25px;
  }
}

#sideBar-control {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  background-color: var(--color-lighter);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: solid 1px rgba(39, 39, 39, 0.096);
  display: -ms-grid;
  display: grid;
  place-content: center;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /*control the position of this button and main so they can overlap*/
  -ms-grid-row-align: center;
      align-self: center;
  z-index: 1;
  -webkit-transition: -webkit-transform 400ms ease-out;
  transition: -webkit-transform 400ms ease-out;
  transition: transform 400ms ease-out;
  transition: transform 400ms ease-out, -webkit-transform 400ms ease-out;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  top: calc(50vh - 30px);
  right: -30px;
}

@media screen and (max-width: 790px) {
  #sideBar-control {
    right: -40px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@media screen and (max-width: 570px) {
  #sideBar-control {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    background-color: var(--color-lighter);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid 1px rgba(39, 39, 39, 0.096);
    display: -ms-grid;
    display: grid;
    place-content: center;
    outline: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    right: -30px;
  }
}

#sideBar-control:hover {
  background-color: var(--color-light);
}

#sideBar-control img {
  margin: auto;
  display: block;
  height: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 790px) {
  #sideBar-control img {
    height: 16px;
  }
}

@media screen and (max-width: 570px) {
  #sideBar-control img {
    height: 12px;
  }
}

#main {
  width: calc(100% - var(--sideBar-width));
  -webkit-transition: width 400ms ease-out;
  transition: width 400ms ease-out;
  min-width: 65%;
  margin-left: -30px;
  /*control the position of this section and button*/
  padding: 10px 50px 30px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  --titleHeight: 100px;
}

@media screen and (max-width: 790px) {
  #main {
    min-width: 50%;
  }
}

@media screen and (max-width: 570px) {
  #main {
    min-width: 100%;
    margin-left: auto;
    z-index: 0;
    overflow-y: auto;
  }
}

#main #main-logoSpot {
  display: -ms-grid;
  display: grid;
  place-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100px;
  height: var(--titleHeight);
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

@media screen and (max-width: 570px) {
  #main #main-logoSpot {
    margin-top: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: -20px;
    background-color: white;
    opacity: 1;
    width: 100%;
    z-index: 2;
  }
}

#main #main-logoSpot img {
  margin: auto;
  height: 60px;
}

@media screen and (max-width: 570px) {
  #main #main-logoSpot img {
    height: 40px;
  }
}

#main #main-listComponent {
  width: 100%;
  height: calc(100% - 100px);
  height: calc(100% - var(--titleHeight));
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: auto;
}

@media screen and (max-width: 570px) {
  #main #main-listComponent {
    overflow-y: initial;
  }
}

#main #main-listComponent ul {
  list-style-type: none;
  padding: 0;
  width: 90%;
}

#main #main-listComponent ul li {
  height: 45px;
  margin-bottom: 10px;
  border-bottom: solid 1px rgba(39, 39, 39, 0.096);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 570px) {
  #main #main-listComponent ul li {
    height: 35px;
    margin-bottom: 5px;
  }
}

#main #main-listComponent ul li:hover button.listItem-close {
  display: -ms-grid;
  display: grid;
}

@media screen and (max-width: 790px) {
  #main #main-listComponent ul li:hover button.listItem-close {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

#main #main-listComponent ul li p {
  width: 90%;
}

#main #main-listComponent ul li p::-moz-selection {
  background: var(--color-lighter);
  color: white;
}

#main #main-listComponent ul li p::selection {
  background: var(--color-lighter);
  color: white;
}

#main #main-listComponent ul button.listItem-close {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  background-color: var(--color-lighter);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: solid 1px rgba(39, 39, 39, 0.096);
  display: -ms-grid;
  display: grid;
  place-content: center;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: none;
  display: none;
  -webkit-transition: 100ms ease-out;
  transition: 100ms ease-out;
}

@media screen and (max-width: 790px) {
  #main #main-listComponent ul button.listItem-close {
    display: -ms-grid;
    display: grid;
    -webkit-filter: opacity(40%);
            filter: opacity(40%);
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

#main #main-listComponent ul button.listItem-close:hover {
  background-color: var(--color-lightest);
}

#main #main-listComponent ul button.listItem-close img {
  margin: auto;
  width: 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#interactComponent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  bottom: 60px;
  right: 5vw;
  /*
        Interactivity Control
        */
}

@media screen and (max-width: 570px) {
  #interactComponent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    bottom: 10px;
    padding: 5px;
    background-color: transparent;
  }
}

#interactComponent div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#interactComponent #alert {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.7em;
  padding: 10px;
  width: 112px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--color-lightest);
  border-radius: 25px;
  position: absolute;
  bottom: 50px;
  margin-right: 20px;
}

#interactComponent #alert::after {
  content: '';
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 15px;
  width: 25px;
  background-color: inherit;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  position: absolute;
  bottom: -10px;
}

#interactComponent button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  background-color: var(--color-lighter);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: solid 1px rgba(39, 39, 39, 0.096);
  display: -ms-grid;
  display: grid;
  place-content: center;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 400ms ease-in, background-color 300ms ease-out;
  transition: 400ms ease-in, background-color 300ms ease-out;
}

@media screen and (max-width: 790px) {
  #interactComponent button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    background-color: var(--color-lighter);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid 1px rgba(39, 39, 39, 0.096);
    display: -ms-grid;
    display: grid;
    place-content: center;
    outline: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
}

#interactComponent button img {
  margin: auto;
  width: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 790px) {
  #interactComponent button img {
    width: 15px;
  }
}

#interactComponent #textButton {
  margin-right: 10px;
  background-color: var(--color);
}

@media screen and (max-width: 570px) {
  #interactComponent #textButton {
    margin-right: 0px;
    margin-bottom: 5px;
  }
}

#interactComponent #textButton:hover {
  --color: hsl(var(--hue), var(--sat), var(--lightd, 32%));
  --lightd: calc(-10% + var(--light));
}

#interactComponent #searchButton {
  background-color: var(--color-lighter);
}

#interactComponent #searchButton:hover {
  --color-lighter: hsl(var(--hue), var(--sat), var(--lightererd, 52%));
  --lightererd: calc(-20% + var(--lighterer));
}

#interactComponent input {
  all: unset;
  width: 40vw;
  border-radius: 40px;
  border: solid 1px rgba(39, 39, 39, 0.096);
  background-color: #ececec;
  margin-right: -40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  height: 50px;
  font-size: 0em;
  font: inherit;
  visibility: hidden;
  max-width: 0px;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

@media screen and (max-width: 790px) {
  #interactComponent input {
    width: 60vw;
    height: 40px;
  }
}

@media screen and (max-width: 570px) {
  #interactComponent input {
    width: 80vw;
    margin-right: -30px;
  }
}

#interactComponent input::-moz-selection {
  background: var(--color-lighter);
  color: white;
}

#interactComponent input::selection {
  background: var(--color-lighter);
  color: white;
}

#interactComponent button.active {
  background-color: green !important;
}

#interactComponent button.active:hover {
  background-color: #004d00 !important;
}

#interactComponent button.open {
  background-color: #222 !important;
}

#interactComponent button.open:hover {
  background-color: black !important;
}

#interactComponent button.open img {
  width: 16px;
}

@media screen and (max-width: 790px) {
  #interactComponent button.open img {
    width: 13px;
  }
}

#interactComponent input.active {
  visibility: visible;
  max-width: 500px;
  font-size: 1em;
  padding-right: 50px;
}

@media screen and (max-width: 570px) {
  #interactComponent input.active {
    padding-right: 40px;
  }
}
/*# sourceMappingURL=main.css.map */